:root {
  --main-bg-col: #faf8ef;
  --title-text-col: #776e65;
  --label-bg-col: #bbada0;
  --grid-border-col: #bbada0;
  --grid-bg-col: rgba(238, 228, 218, 100);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-bg-col);
  color: #776e65;

  display: flex;
  align-items: center;
  justify-content: center;
}

content {
  width: 500px;
  height: 800px;
}

header,
.grid-container,
.game-instructions {
  width: 500px;
}

.header-top {
  display: flex;
  align-items: flex-start;
  width: 500px;
  height: 100px;
}

.title {
  align-self: stretch;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--title-text-col);
  padding: 2px;
}

.scores-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 3;
}

.score-container,
.highscore-container {
  display: block;
  background-color: var(--label-bg-col);
  width: 100px;
  height: 55px;
  margin-left: 5px;
  border-radius: 3px;
}

.score-label {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 800;
  margin-top: 10%;
}

.score-num {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1.8px;
  margin-bottom: 2px;
}

.header-bot {
  display: flex;
  width: 500px;
  height: 45px;
}

.new-game-container {
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
  flex-grow: 1;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  width: 125px;
  color: white;
  background-color: var(--title-text-col);
}

button:hover,
span:hover {
  cursor: pointer;
}

.game-grid-container {
  position: relative;
  background-color: var(--grid-border-col);
  border-radius: 5px;
  width: 500px;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 480px;
  height: 480px;
  border: solid 10px var(--grid-border-col);
  border-radius: 5px;
}

.grid-box {
  background-color: var(--grid-bg-col);
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 5px;
}

.grid-box-tile {
  font-size: 3rem;
  line-height: 112.5px;
  font-weight: 800;
  text-align: center;
  color: var(--title-text-col);
  z-index: 100;
}

.new {
  animation-name: pop-new;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes pop-new {
  0% {
    font-size: 0rem;
    scale: 0;
  }
  100% {
    font-size: 3rem;
    scale: 1;
  }
}

.merged {
  animation-name: pop-merged;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes pop-merged {
  0% {
    font-size: 4rem;
    scale: 1.2;
  }
  100% {
    font-size: 3rem;
    scale: 1;
  }
}

.tile-2 {
  background-color: #fdffb6;
}

.tile-4 {
  background-color: #ffd6a5;
}

.tile-8 {
  background-color: #ffcfd2;
}

.tile-16 {
  background-color: #f1c0e8;
}

.tile-32 {
  background-color: #cfbaf0;
}

.tile-64 {
  background-color: #a3c4f3;
}

.tile-128 {
  background-color: #90dbf4;
}

.tile-256 {
  background-color: #8eecf5;
}

.tile-512 {
  background-color: #98f5e1;
}

.tile-1024 {
  background-color: #b9fbc0;
}

.tile-2048 {
  background-color: deeppink;
}

.game-over-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.517);

  display: none; /* flex for show */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1000;

  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.517);
  }
}

.game-over-screen p {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.highlight {
  border-radius: 5px;
  animation-name: highlight-it;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes highlight-it {
  0% {
    background-color: rgba(2, 251, 255, 100);
  }
  100% {
    background-color: rgba(2, 251, 255, 0);
  }
}
